<div class="containsCode">
    <div class='renderedPage pure-u-1-2'>
      <h2> Test </h2>
      <ol>
      <li> 2 + 2 = <input ng-model='questions.one'>
        <p ng-show='questions.one'
        ng-class='{correct: questions.one == 4, wrong: questions.one != 4}'
        class='answers'>
        Answer to one: {{questions.one}} </p>
      </li>
      <br>
      <li> 7 * 3 = <input ng-model='questions.two'>
        <p ng-show='questions.two'
        ng-class='{correct: questions.two == 21, wrong: questions.two != 21}'
        class='answers'>
        Answer to two: {{questions.two}} </p>
      </li>
      <br>
      <li> 2^4= <input ng-model='questions.three'>
        <p ng-show='questions.three'
        ng-class='{correct: questions.three == 16, wrong: questions.three != 16}'
        class='answers'>
        Answer to three: {{questions.three}} </p>
      </li>
    </ol>
    </div>
    <div class='actualCode'>
      <ul class='codeNav'>
        <li ng-click='showHTML = true; showJavascript = false; showDescription = false;'> index.html </li>
        <li ng-click='showHTML = false; showJavascript = true; showDescription = false;'> app.js </li>
        <li ng-click='showHTML = false; showJavascript = false; showDescription = true;'> Description </li>
      </ul>
      <div class='preCode' ng-show='showHTML'>
        <pre><code class='html'>
          {{html}}
        </code></pre>
      </div>

      <div class='preCode' ng-show='showJavascript'>
        <pre>
          <code> {{javascript}} </code>
        </pre>
      </div>

      <div class='preCode' ng-show='showDescription'>
        <pre>
          <code> {{description}} </code>
        </pre>
      </div>
    </div>
</div>
