<div class="containsCode">
    <div class='renderedPage pure-u-1-2'>
      <h2> 2-way Data Binding </h2>
      <div ng-controller='bindingExampleCtrl'>
        Control the text below: <input ng-model='binding.name'>
        <p> {{binding.name}} </p>
      </div>
      <h2> Example of Prototypical Inheritance (bad practice) </h2>
      <div ng-controller='badExampleParentCtrl'>
        <strong> Parent Ctrl </strong> <input ng-model='name' >
        <p> {{name}} </p>
        <div ng-controller='badExampleChildCtrl'>
          <strong> Child Ctrl:</strong> <input ng-model='name'>
          <p>  {{name}} </p>
        </div>
      </div>
      <h2> Example of properly using ng-model with '.' <br>
        to avoid weird child prototypical inheritance </h2>
      <div ng-controller='goodExampleParentCtrl'>
        <strong> Parent Ctrl </strong> <input ng-model='parent.name'>
        <p>{{parent.name}} </p>
        <div ng-controller='goodExampleChildCtrl'>
          <strong> Child Ctrl:</strong>  <input ng-model='child.name'>
          <p> {{child.name}} </p>
        </div>
      </div>
    </div>
    <div class='actualCode'>
      <ul class='codeNav'>
        <li ng-click='showHTML = true; showJavascript = false; showDescription = false;'> index.html </li>
        <li ng-click='showHTML = false; showJavascript = true; showDescription = false;'> app.js </li>
        <li ng-click='showHTML = false; showJavascript = false; showDescription = true;'> Description </li>
      </ul>
      <div class='preCode' ng-show='showHTML'>
        <pre><code class='html'>
          {{html}}
        </code></pre>
      </div>

      <div class='preCode' ng-show='showJavascript'>
        <pre>
          <code> {{javascript}} </code>
        </pre>
      </div>

      <div class='preCode' ng-show='showDescription'>
        <pre>
          <code> {{description}} </code>
        </pre>
      </div>
    </div>
  </div>
