<div class="containsCode">
    <div class='renderedPage pure-u-1-2'>
      <div>
        First Name: <input ng-model='contact.firstName'>
        <br><br>
        Last Name:  <input ng-model='contact.lastName'>
        <br><br>
        Contact: <input ng-model='contact.phoneNumber'>
        <br><br>
        <button ng-click='data.addContact(contact)'> Add Contact </button>
      </div>
      <div ng-repeat='contact in data.contacts'>
        <h5> {{contact.firstName}} {{contact.lastName}} </h5>
        Phone Number: {{contact.phoneNumber}}
      </div>
    </div>
    <div class='actualCode'>
      <ul class='codeNav'>
        <li ng-click='showHTML = true; showJavascript = false; showDescription = false;'> index.html </li>
        <li ng-click='showHTML = false; showJavascript = true; showDescription = false;'> app.js </li>
        <li ng-click='showHTML = false; showJavascript = false; showDescription = true;'> Description </li>
      </ul>
      <div class='preCode' ng-show='showHTML'>
        <pre><code class='html'>
          {{html}}
        </code></pre>
      </div>

      <div class='preCode' ng-show='showJavascript'>
        <pre>
          <code> {{javascript}} </code>
        </pre>
        $scope.name = <input type='text' ng-model='name'> </input>
      </div>

      <div class='preCode' ng-show='showDescription'>
        <pre>
          <code> {{description}} </code>
        </pre>
      </div>
    </div>
  </div>
