@import '_tomorrow-night-bright';


// for nav links that are active
.currentLink {
  color: white !important;
}

.containsCode {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.codeNav {
  list-style: none;
  background-color: black;
  color: #d54e53;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #b9ca4a;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 10px;
    &:hover {
      color: #b9ca4a;
    }
  }
}
.preCode {
  background-color: black;
  color: white;
  padding: 5px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.center-text {
  text-align: center;
}
.color-black {
  color: black !important;
}

.renderedPage {
  max-width: 100%;
  background-color: #fff;
  border: 2px solid black;
  padding: 10px;
  color: black;
  margin: 20px;
  width: 500px;
  word-wrap: break-word;
}

.answers {
  font-weight: bold;
  color: black;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}
.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}

body {
  margin-bottom: 100px;
}

.activeLink {
  color: #fff !important;
}

.my-link {
  text-decoration: none;
  color: #56b8b8;
}
