<div class="containsCode">
    <div class='renderedPage pure-u-1-2'>
      <div ng-controller='mainCtrl'>
        <div ng-repeat='player in nba.players'>
          <h5><a href={{player.url}} target='_blank'> {{player.name}} </a> </h5>
          <ul>
            <li> Born: {{player.born}} </li>
            <li> Height: {{player.height.feet}}' {{player.height.inches}}" </li>
            <li> Current Team: {{player.currentTeam}} </li>
            <li> Championships:{{player.championships}}</li>
            <li> NBA Finals MVP: {{player.nbaFinalsMVP}} </li>
            <li> NBA MVP: {{player.mvp}} </li>
            <li> NBA All Star Team: {{player.nbaAllstarTeam}} </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='actualCode'>
      <ul class='codeNav'>
        <li ng-click='showHTML = true; showJavascript = false; showDescription = false;'> index.html </li>
        <li ng-click='showHTML = false; showJavascript = true; showDescription = false;'> app.js </li>
        <li ng-click='showHTML = false; showJavascript = false; showDescription = true;'> Description </li>
      </ul>
      <div class='preCode' ng-show='showHTML'>
        <pre><code class='html'>
          {{html}}
        </code></pre>
      </div>

      <div class='preCode' ng-show='showJavascript'>
        <pre>
          <code> {{javascript}} </code>
        </pre>
        $scope.name = <input type='text' ng-model='name'> </input>
      </div>

      <div class='preCode' ng-show='showDescription'>
        <pre>
          <code> {{description}} </code>
        </pre>
      </div>
    </div>
  </div>
